cryptography~=37.0.1
twisted~=22.2.0
openssl~=1.1.1
attrs~=21.4.0
itemadapter~=0.3.0
pydispatcher~=2.0.5
itemloaders~=1.0.4
queuelib~=1.5.0
w3lib~=1.21.0
lxml~=4.8.0
zope~=1.0
service_identity~=18.1.0
parsel~=1.6.0
cssselect~=1.1.0
tldextract~=3.2.0
zlib~=1.2.12
setuptools~=52.0.0
SQLAlchemy~=1.4.36  # ~=1.4.36 means >=1.4.36, ==1.4.*